DirectoryIndex index.html

RewriteEngine On

# Next.js static export (folder-based routing)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1/index.html [L]
